HELP.md
/target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

\.mvn/

\.svn/

common/target/

evelin/target/

evelin_common/target/

initial/target/

rdc/target/

report/target/

security/target/

service_mail/target/

starter/target/

tool_controller/target/
